@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './components/index.css';
@import './tailwind/index.css';

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
    height: 100%;
    font-size:13px;
    @apply bg-gray-200
}

